html, body {
width: 100%;
height: 100%;
padding: 0;
margin:0;
overflow: hidden;
}

world,
platform,
player,
toad,
stats,
scrollDeadZone {
    display: block;
    box-sizing: border-box;
}

world[debug] scrollDeadZone {
    border: 2px solid red;
}

world[debug] fixed {
    border: 3px solid magenta;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

world:not([debug]) stats {
    display: none;
}
world[debug] stats {
    display: block;
    border: 1px solid blue;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 10px;
    min-height: 10px;
    background: rgba(0,0,255,0.2);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 4px;
}
world[debug] platform {
    color: magenta;
    font-weight: bold;
}
world:not([debug]) platform {
    color: transparent;
}

world {
    min-height: 100%;
    min-width: 100%;
}

[xywh] {
    display: block;
    position:absolute;
    min-width: 10px;
    min-height: 10px;
}

platform {
    border-radius: 10px;
    border: 2px solid black;
}

player {
    background: cyan;
}

/* custom styles */

world {
    background: linear-gradient(to bottom, skyblue, white);
}

controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 99;
}
@media screen and (orientation:portrait) {
    controls {
        height: 10vh;
    }
    controls moveleft,
    controls moveright,
    controls jump {
        margin: 1vh;
        font-size: 4vh;
        border-radius: 4vh;
    }
}
 @media screen and (orientation:landscape) {
    controls {
        height: 30vh;
    }
    controls moveleft,
    controls moveright,
    controls jump {
        margin: 2vh;
        font-size: 4vh;
        border-radius: 13vh;
    }
 }
controls moveleft,
controls moveright,
controls jump {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.5);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
controls moveleft:hover,
controls moveright:hover,
controls jump:hover {
    background-color: rgba(0,0,0,0.3);
}

player {
    box-sizing: border-box;
    background: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}
player[dir=left][action=standing] {
    background-image: url("mario-left.png");
}
player[dir=right][action=standing] {
    background-image: url("mario-right.png");
}
player[dir=left][action=running] {
    background-image: url("mario-left-run.png");
}
player[dir=right][action=running] {
    background-image: url("mario-right-run.png");
}
player[dir=left][action=stopping] {
    background-image: url("mario-left-stop.png");
}
player[dir=right][action=stopping] {
    background-image: url("mario-right-stop.png");
}
player[dir=left][action=jumping] {
    background-image: url("mario-left-jump.png");
}
player[dir=right][action=jumping] {
    background-image: url("mario-right-jump.png");
}


platform {
    background: linear-gradient(to bottom, #04C806 10px, black 12px, #C79757 0px, #C79757);
}
platform[grass] {
    background: linear-gradient(to bottom, #04C806 10px, black 12px, #C79757 0px, #C79757);
}
platform[lava] {
    border-width: 1px;
    background: linear-gradient(to bottom, white 2px, yellow 3px, orange 7px, red 10px, red);
}
platform[blocks] {
    border-radius: 0px; 
    border-width: 1px;
    background: linear-gradient(315deg, transparent 75%, #d45d55 0)-20px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0)-20px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
    background-size: 40px 40px;
}
platform[wood] {
    border-color: #753;
    background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 25px 25px;
}
platform[goal] {
    display: flex;
    justify-content: center;
    align-items: center;
}

platform[goal] img {
    width: 200px;
}

toad {
    background: magenta;
}